*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);

}

body {
    background-color: black;
    background-size: 100%;
    margin:0;
    padding:0;
}

h1{
    font-family: "AiglonProExtended-Demi", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    transform: translateY(-50%);
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.face {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}